html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(179, 137, 98);
  background-image: url('http://surl.li/jsquv');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: sticky;
}

a {
  color: inherit;
  text-decoration: none;
  text-align: center;
}

* {
  box-sizing: border-box;
}

h1 {
  color: rgb(200, 118, 10);
}

h2 {
  color: tomato;
}


h3 {
  color: rgb(156, 108, 3);
}

p, ul {
  color: black;
  font-weight: bold;
}

img {
  border: 5px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  width: auto;
}

.table {
  overflow-x: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.responsive-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 768px) {
  .responsive-table td {
      display: block;
      width: 100%;
  }

  .responsive-table h1, .responsive-table img {
      text-align: center;
  }

  .responsive-table img {
      max-width: 100%;
      height: auto;
  }

  .responsive-table ul {
      padding-left: 20px;
  }
}
